<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> |
			<a href="/users/add">Add New User</a> |
			<a href="/users">All Users List</a>	  |
			<a href="/admin/questions">Insert Questions</a>
			<a href="/admin/">Question List</a>
		</div>
		<h1><%= title %></h1>
