<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container text-center">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <h1>Welcome!</h1>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->



<% include partials/template/jsdefaults.ejs %>
</body>
</html>