<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container text-center">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <div class="row">
            <img class="img-responsive center-block" src="images/admincbedit.png" class="img-responsive" alt="Chalkboard" style="width:800px;height:500px;" >
            
            <div>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->



<% include partials/template/jsdefaults.ejs %>
</body>
</html>