@media (min-width:768px) { 
	.navbar > .container {
	    text-align: center;
	}
	.navbar-header {
	    float: none;
	    display: inline-block;
	}
	.navbar-brand {
	    float: none;
	    display: inline-block;
	}
	.navbar .navbar-nav {
	    float: none;
	    display: inline-block;
	    clear: none;
	}
	.navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}
	.navbar .navbar-nav > li li {
	    text-align: left
	}
	.collapse.navbar-collapse#centerednav {
	    float: none;
	    display: inline-block!important;
	    width: auto;
	    clear: none;
    }
}



#button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 30px;
	width: 200px;
	left: 50%;
	top: 50%;
	margin-top: -15px;   /* = -height / 2   */
	margin-left: -100px; /* = -width / 2    */
	position: fixed;     /* Fixed is better */
  }

