<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <h1 class="text-center">Create Quiz!</h1>
        <p class="text-center">Let's create some quizzes!</p>
        <form method="post">
            <div class="form-group">
                <% include partials/template/createquestion.ejs %>
                <% include partials/template/createAnswer.ejs %>
                <% include partials/template/createAnswer.ejs %>
                <% include partials/template/createAnswer.ejs %>
                <% include partials/template/createAnswer.ejs %>
            </div>
            <div class="form-group">
                <button type="submit" name="button1" formaction="/createquizquestions" value="0" class="btn btn-primary btn-lg btn-success">Add Another Question</button>
                <button type="submit" name="button2" formaction="/createquizquestions" value="1" class="btn btn-primary btn-lg btn-success">Create Quiz</button>
            </div>
        </form>
    </div><!-- row -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->
<script src="../app.js"></script>
<script type="text/javascript">
    document.getElementById("quizDone").onclick = function () {
        location.href = "/views/createquiz.ejs";
    }
</script>
<% include partials/template/jsdefaults.ejs %>
</body>
</html>