

<html>

    <head>
    <title>Login Form</title>
    <%- include layouts/head.ejs %>	 
   
  
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="css/main.css"
    
    </head>
    
    
    <body>
          

   <div class="container">
       <div class="row mgTp">
           <form class="col-md-6 offset-md-3" action="/users/add" method="post" name="form1" >
               <h3 class="title">Login</h3>
               <hr class="divisor">
               <div class="form-group">
                   <label  for='email'>Username</label>
           <input class='validate' type="text" name='username' id='email' required />
               </div>
               <div class="form-group">
             <label for='password'>Password</label>
             <input class='validate' type='password' name='password' id='password' required />
               </div>
               <div class="form-check">
                   <input type="checkbox" class="form-check-input" id="exampleCheck1">
                   <label class="form-check-label" for="exampleCheck1">Remember me</label>
               </div>
         <button type="submit" class="btn btn-primary topBtn"><i class="fa fa-sign-in"></i> Login</button>
         <button type="submit" class="btn btn-primary topBtn"><i class="fa fa-sign-in"></i> Sign up</button>
           </form>
       </div>
   </div>
