<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">

<!----lululu-->

  <title>CHALKBOARD</title>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Fira+Mono' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="style.css">

  
</head>

<body>

  <div class='wrapper'>
  <div class='form form-signup'>
    
    <div class='form--title'>
      Login
    </div>
    
    <form action="/main/list" method="POST">
      
      <div class='form--inputContainer js-input'>
        <label for='input_fullName' class='form--label'>Username</label>
        <input type="text" name="username" class='js-input-fullName' placeholder="Username" required>
      </div>
      
      
      
      <div class='form--inputContainer js-input'>
        <label for='input_password' class='form--label'>Password</label>
        <input type="password" name="password" class="js-inputPassword" placeholder="Password" id="password" required>
        </div>
      
      <div class='form--inputContainer'>
        <input type='submit' value='sign up'>
        
   
      </div>
    </form>
    
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="/login.js"></script>




</body>

</html>