<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <h1>Profile</h1>
        <% include partials/template/changepassword.ejs %>
    </div><!-- row -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->



<% include partials/template/jsdefaults.ejs %>
</body>
</html>