<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">

    <% include partials/template/navigationuser.ejs %>

    <div class="row">
        <% user.forEach(function (users) { %>
        <h1>Welcome <%= users.name %></h1>
        <% }) %>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->
<% include partials/template/jsdefaults.ejs %>
</body>
</html>