<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#col1changepassword" data-toggle="collapse"><h3 class="page-header">Change password</h3></a>
        <div id="col1changepassword" class="collapse in">
            <form method="get" action="/user">
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="text" class="form-control" placeholder="" required>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" placeholder="" required>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" placeholder="" required>
                </div>
                <button type="submit" class="btn btn-lg btn-success center-block">Submit</button>
            </form>
        </div>
    </div>
</div>