<!--
including header content which is common for all pages
-->
<%- include ../layouts/head.ejs %>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
						
        <link rel="stylesheet" href="/CB_V1/CRUD_App/views/app.css">



<form  action="/login/home" method="post" name="form1">
<div class="wrapper">
<div class="d-block mx-auto text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <button type="button" class="btn btn-info">Generate Quiz 1</button>
          <button type="button" class="btn btn-info">Generate Quiz 2</button> 
          <button type="button" class="btn btn-info">Generate Quiz 3</button> 
        </div>
      </div>
    </div>

    </form>
      <!-- jquery file-->
  
  
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


      <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  
