<!--
including header content which is common for all pages
-->
<%- include ../layouts/head.ejs %>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha364-Gn5364xqQ1aoWXA+056RXPxPg6fy4IWvTNh0E663XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
						
      


        <div class="container h-100">
            <div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">    
<form  class="col-md-8 offset-md-5" action="/login/home" id="form" method="post" class="form-inline" >
<div class="button-wrapper">
    <p>Memory:SDRAM/DRAM</p>
  <button class="btn btn-rounded btn-primary btn-lg">Generate Quiz 1</button>
    </div>
    <div class="button-wrapper">
        <p>Avengers Triva</p>
      <button class="btn btn-rounded btn-primary btn-lg">Generate Quiz 2</button>
        </div>
        <div class="button-wrapper">
            <span><p>GoT Trivia</p>
          <button class="btn btn-rounded btn-primary btn-lg">Generate Quiz 3</button>
            </div>
      
    </form> 
  </div>
</div>
      <!-- jquery file-->
  
  
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.16.4/jquery.min.js"></script>


      <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha364-KJ3o6DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.9/umd/popper.min.js" integrity="sha364-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha364-JZR6Spejh4U06d6jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  
